body {
font-family: 'Courier New', Courier, monospace;
background-color: beige;
}

.container {
  margin: 5%;
}

.linkcontainer {
  text-align: right;
  margin-left: 60px  
}

.selfimg {
  width: 220px;
  height:  200px;
  margin-right: 30px;
  float: left;
  display: inline;
}

.abouttext {
  font-size: 18px;
  margin-top: 20px;
  }

.nav-link {
  font-size: 18px;
  text-align: right;
 font-weight: bold;
 
}


.h1 {
  background-color: teal;
  color: white;
  }


.bg-light {
  background-color: ;

}
 nav {
   background-color: white; 
  }

.portfolio-image {
  height: 150px;
  width: 150px;
  float: left;
  margin-left: 20px;
  }

  .port {
    width: 250px;
    height: 200px;
    margin-top: 20px;
  }

  .portcontainer {
    position: relative;
    text-align: center;
    color: white;
    
  }
 .h4 {
   position: absolute;
   top: 75%;
   left: 50%;
   transform: translate( -50%, -50%);
   background-color: teal;
   width: 100%;
 }

 .linktext {
  background-color: teal;
  color: white;
 }

  @media (min-width: 768px) {

.col-md-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 50%; 
}
  }

